.header{
    overflow: hidden!important;
    background: transparent linear-gradient(267deg, var(--light-purple-bg) 0%, var(--dark-purple-bg) 100%) 0% 0% no-repeat padding-box;
    border: 1px solid rgba(112, 112, 112, 1);
    border-radius: 0px 0px 35px 35px;
    position: relative;
    .styled__circles{
        width: 609px;
        height: 609px;
        position: absolute;
        top: 0;
        background: transparent linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, var(--lighter-purple-bg) 100%) 0% 0% no-repeat padding-box;
        border-radius: 50%;
        &:nth-of-type(1){
            left: -430px;
            top: -370px;
        }
        &:nth-of-type(2){
            top: -450px;
        }
    }
    nav{
        padding: 123px 0 68px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .profile__{
            display: flex;
            align-items: center;
            .pic{
                width: 82px;
                height: 82px;
                // background-color: var(--bg-white);
                border-radius: 50%;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 100%;
                    border-radius: 50%;
                    border: 3px solid var(--light-purple-bg);
                }
            }
            .more{
                margin: 0 13px;
            }
            .full__name{
                color: var(--bg-white);
                font-size: 20px;
                display: flex;
                align-items: center;
            }
        }
        .other__{
            display: flex;
            align-items: center;
            & > div{
                margin-left: 40px;
                position: relative;
                .badge{
                    position: absolute;
                    border-radius: 50%;
                    width: 26px;
                    height: 26px;
                    color: var(--bg-white);
                    background-color: var(--bg-orange);
                    display: grid;
                    align-content: center;
                    justify-items: center;
                    top: -10px;
                    right: -10px;
                }
            }
        }
    }
}